Host *
    StrictHostKeyChecking no

Host storage_s1
  HostName 10.105.137.51
  User storage_s1
  IdentityFile ~/.ssh/id_rsa

Host storage_s2
  HostName 10.105.137.53
  User storage_s2
  IdentityFile ~/.ssh/id_rsa
