Host *
    StrictHostKeyChecking no

Host storage_s1
  HostName 192.168.1.201
  User storage_s1
  IdentityFile ~/.ssh/id_rsa

Host storage_s2
  HostName 192.168.1.202
  User storage_s2
  IdentityFile ~/.ssh/id_rsa

Host storage_s3
  HostName 192.168.1.203
  User storage_s3
  IdentityFile ~/.ssh/id_rsa